.jspsych-btn-group-grid {
  gap: 240px;
}

.jspsych-hearts-and-flowers-stimulus-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.jspsych-hearts-and-flowers-stimulus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jspsych-hearts-and-flowers-fixation {
  font-size: 60px;
  line-height: 1;
}
