.jspsych-spatial-cueing-instruction {
    max-width: 50vw;
}

.jspsych-spatial-cueing-container {
    width: 30vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.jspsych-spatial-cueing-target-container, .jspsych-spatial-cueing-target-container-bold, .jspsych-spatial-cueing-target-container-stimulus {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    font-size: 24px;
}

.jspsych-spatial-cueing-target-container-bold {
    background-color: #BEBEBE;
}

.jspsych-spatial-cueing-fixation-container {
    width: 48px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    font-size: 24px;
}